VITE_APP_NAME=Tulahack
VITE_API_URL=https://vite.api.url/api/
VITE_X_TOKEN=mvp-static-token
VITE_GITHUB_REPOSITORY_URL=https://github.com/your-org/your-repo
VITE_ENABLE_MOCK_API=true
VITE_ALLOW_GUEST_ACCESS=true
